body {
    color: black;
    font-family: 'Lora', serif;
    margin: 0;
  }
  
  a {
    cursor: pointer;
  }

  header {
    color: white;
    background-size: cover;
    background-position: center;
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
  }
  
  
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
  }
  
  #links a {
    color: white;
    margin: 15px;
    text-decoration: none;
  }
  
  nav img {
    height: 27%;
    width: 27%;
  }
  
  
  #menu {
    display: none;

  }
  
  #menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }

  @media (max-width: 500px) {
    #links {
      display: none;
    }
  
    #menu {
      display: block;
    }
  }
 
  #links {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  footer {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, .8);
    padding: 28px;
    text-align: center;
  }

  #footer_info{
    height: 100px;
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #footer_info img {
    width: 17%;
  }

  #social_media img{
    margin: 10px 5px 0px;
    width: 25%;
    cursor: pointer;
  }

  footer h1 {
    margin: 0px 0px 0px 5px;
  }

  footer p {
    color: rgba(255, 255, 255, .4);
  }



h1, #form {
  text-align: center;
}

div#view {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }
  
  div.album {

    border: 1px solid black;
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  
div.album p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

img.tasto{
    width: 50px;
}

  div.album img {
    max-width: 100%;
  }

  .hidden{
      display: none;
  }

  #form{
      margin-bottom: 60px;
  }

  audio#playmusica {
  margin-left: 50px;
  margin-bottom: 70px;
  }
